/*****************
Social Page Styling
******************/

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600&display=swap");

@font-face {
  font-family: "North Forest"; 
  src: url("../../public/fonts/NORTH\ FOREST.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.flex-container {
  position: relative;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "about-main   about-main"
    "footer footer";
}

a {
  text-decoration: none;
  color: #606c38;
}
footer a {
  text-decoration: none;
  color: white;
}

.social-main {
  display: grid;
  place-items: center;
  width: 100%;
  grid-area: about-main;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px repeat(3,auto);
  grid-template-areas:
  "title title"
    "coming-soon coming-soon"
    "about-img about-img"
    "footer footer";
}

.title {
  border-bottom: 1px solid rgba(96, 108, 56, 0.5);
  padding-bottom: 2%;
  width: 70%;
  color: rgba(13, 40, 24, .7);
  display: flex;
  justify-content: center;
  text-wrap: wrap;
  text-align: center;
  align-items: center;
  top: 0;
  grid-area: title;
  height: auto;
  font-family: 'North Forest';
  font-size: 36px;
  font-weight: 700;
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: coming-soon;
  margin: 10% 0;
  font-family: "North Forest";
  text-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  font-size: 56px;  
  font-weight: 400;
  line-height: 70px;
}

.coming-soon span{
  opacity: 1;
  animation: fadeIn 3s ease-in-out;
}

.social-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-area: about-img;
}

.social-img img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer-bottom {
  height: 70vh;
}
.footer{
  grid-area: footer;
}

/************
Animation Keyframes
*************/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/************
Media Queries
*************/
@media (min-width: 710px) {
  .social-main {
    margin-top: 2vh;
    font-size: 20px;
    display: grid;
    width: 100%;
    grid-area: about-main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 70vh auto;
    grid-template-areas:
    "title title"
    "coming-soon about-img"
    "footer footer";
  }

  .title{
    letter-spacing: 5px;
    font-size: 62px;
    border-bottom: none;
  }

  .coming-soon {
    background-color: #fefae0;
    width: 100%;
    height: 100%;
    font-size: 56px;
    line-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    padding: 0 10%;
  }
}


@media (min-width: 1000px){
  .coming-soon{font-size: 48px;}
}
@media (min-width: 1400px){
  .coming-soon{font-size: 62px;}
}