/*****************
Goals page styling
******************/

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600&display=swap");

@font-face {
  font-family: "North Forest";
  src: url("../../public/fonts/NORTH\ FOREST.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.flex-container {
  position: relative;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "about-main   about-main"
    "footer footer";
}

a {
  text-decoration: none;
  color: #606c38;
}
footer a {
  text-decoration: none;
  color: white;
}

.goals-main {
  display: grid;
  width: 100%;
  grid-area: about-main;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20vh repeat(16, 30vh);
  grid-template-areas:
    "title title"
    "img1 img1"
    "text1 text1"
    "img2 img2"
    "text2 text2"
    "img3 img3"
    "text3 text3"
    "img4 img4"
    "text4 text4"
    "img5 img5"
    "text5 text5"
    "img6 img6"
    "text6 text6"
    "img7 img7"
    "text7 text7"
    "img8 img8"
    "text8 text8";
}

.title {
  color: rgba(13, 40, 24, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title;
  width: 100%;
  height: auto;
  font-family: 'North Forest';
  font-size: 36px;

}

.goals-text {  
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Crimson Pro";
  text-wrap: wrap;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding: 5% 10%;
  opacity: 1;
  animation: fadeIn 3s ease-in-out; 
}

.text > span{
  opacity: 0;
  transition: opacity 3s ease;
  text-wrap: wrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goals-img {
  text-wrap: wrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'North Forest';
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #fefae0;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 20%;
  text-shadow: 
  -1px -1px 0 #606c38,
  1px -1px 0 #606c38,
  -1px 1px 0 #606c38,
  1px 1px 0 #606c38; 
}

.text1 { grid-area: text1; }
.text2 { grid-area: text2; }
.text3 { grid-area: text3; }
.text4 { grid-area: text4; }
.text5 { grid-area: text5; }
.text6 { grid-area: text6; }
.text7 { grid-area: text7; }
.text8 { grid-area: text8; }

.img1{
  background-image: url(../../public/images/goals/pexels-alfo-medeiros-11534117.jpg);
  grid-area: img1;
  width: 100%;
  height: 100%;
}
.img2{
  background-image: url(../../public/images/goals/chester-ho-MfmCt8fRaQw-unsplash.jpg);
  grid-area: img2;
  background-position: 60% 50%;
  width: 100%;
  height: 100%;
}
.img3{
  background-image: url(../../public/images/goals/wp6689710-desktop-4k-forest-way-wallpapers.jpg);
  grid-area: img3;
  background-position: 50% 0%;
  width: 100%;
  height: 100%;
}
.img4{
  background-image: url(../../public/images/goals/cdc-cdfv65CldQQ-unsplash.jpg);
  grid-area: img4;
  width: 100%;
  height: 100%;
}
.img5{
  background-image: url(../../public/images/goals/atharva-tulsi-XQKd1UN7gUU-unsplash.jpg);
  grid-area: img5;
  width: 100%;
  height: 100%;
}
.img6{
  background-image: url(../../public/images/goals/thomas-bonometti-2MoQYAG58P4-unsplash.jpg);
  grid-area: img6;
  background-position: 45% 0%;
  width: 100%;
  height: 100%;
}
.img7{
  background-image: url(../../public/images/goals/rob-hampson-y0S3eOvq-zU-unsplash.jpg);
  grid-area: img7;
  width: 100%;
  height: 100%;
}
.img8{
  background-image: url(../../public/images/goals/jack-church-EKlPl43tmsI-unsplash.jpg);
  grid-area: img8;
  width: 100%;
  height: 100%;
}
.footer-bottom {
  height: 70vh;
}


/************
Animation Keyframes
*************/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/************
Media Queries
*************/

@media (min-width: 710px) {

  .goals-main {
    display: grid;
    width: 100%;
    grid-gap: 10vh;
    grid-area: about-main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vh repeat(8, 40vh);
    grid-template-areas:
    "title title"
    "img1 text1"
    "text2 img2"
    "img3 text3"
    "text4 img4"
    "img5 text5"
    "text6 img6"
    "img7 text7"
    "text8 img8";
  }
  .img3 { background-size: cover; background-position: -400px 100%; }
  .img4 { background-size: cover; background-position: 0 30%; }
  .img5 { background-size: cover; background-position: -200px 80%; }
  .img6 { background-size: cover; background-position: 400px 50%; font-size: 32px;}
  .img8 { background-size: cover; background-position: 0px 50%; font-size: 32px; }
  .goals-text { font-size: 26px; }
}

@media(min-width:1200px){

  .goals-text { font-size: 36px; }
  .img8, .img6 { font-size: 48px; }
  
}


