/*****************
Home Page Buckets section
******************/

.buckets {
  width: 90%;
  margin-bottom: 15vh;
  justify-self: center;
  display: grid;
  grid-gap: 50px;
  grid-area: buckets;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(3, 400px);
  grid-template-areas:
    "bucket1"
    "bucket2"
    "bucket3";
}

.bucket1 {
  grid-template-areas: bucket1;
}
.bucket2 {
  grid-template-areas: bucket2;
}
.bucket3 {
  grid-template-areas: bucket3;
}
.bucket {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
.bucket-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.bucket-img:hover {
  transform: scale(1.1);
}
.bucket3 img {
  object-position: 50% 25%;
}

.bucket-text {
  opacity: 0;
  transform: translateY(20px);
  z-index: 10;
  position: absolute;
  transition: font-size 0.3s ease, opacity 1.5s, transform 1.5s;
  color: #fefae0;
  font-family: "North Forest";
  font-weight: 500;
  margin-top: 5%;
  right: 5%;
  text-shadow: -1px -1px 0 #606c38, 1px -1px 0 #606c38, -1px 1px 0 #606c38,
    1px 1px 0 #606c38;
}


/************
Media Queries
*************/
@media (min-width: 710px) {
  .buckets {
    padding: 10px 0;
    height: 100%;
    width: 95%;
    display: grid;
    grid-gap: 20px;
    grid-area: buckets;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    grid-template-areas:
      "bucket1"
      "bucket2"
      "bucket3";
  }
  .bucket {
    border-radius: 20px;
    margin-top: 20px;
  }
}
