/*****************
Home Page Footer section styling
******************/

footer {
  font-family: "Crimson Pro";
  font-size: 24px;
  color: white;
  position: relative;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.footer-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-bottom {
  /* border: solid red 1px; */
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #0d2818;
  display: flex;
  height: 100vh;
  max-height: 500px;
}

.footer-grid {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fi {
  width: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25%;
}

.social-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  max-width: 1200px;
}
.connect {
  justify-content: space-evenly;
  width: 100%;
}
.connect > p,
.social-icons {
  margin: 0;
}

.copyright {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 80%;
}

.footer-pines {
  font-size: 46px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}

.sofn{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;color: #fefae0;
    font-family: 'North Forest';
    font-size: 18px;
    height: 100%;
    word-break: break-all;
}
.logo-acronym{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.copyright-text {
    margin: 0 10px;
  text-align: center;
  font-size: 12px;
  max-width: 50%;
}

.copyright-text > span {
  font-family: "North Forest";
}

/************
Media Queries
*************/
@media (min-width: 450px) {
  .copyright-text {
    font-size: 16px;
  }
  .sofn{
    margin: 0;
    font-size: 24px;
  }
}
@media (min-width: 710px) {
  .sofn{
    font-size: 36px;
  }
}

